

{% load static %}

{% include 'home_header.html' %}

            <!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li class="active">About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!-- about wrapper start -->
            <div class="about-us-wrapper pt-60 pb-40">
                <div class="container">
                    <div class="row">
                        <!-- About Text Start -->
                        <div class="col-lg-6 order-last order-lg-first">
                            <div class="about-text-wrap">
        
                                <h2><span>Welcome to our website</span></h2> <p> Our team is dedicated to providing comprehensive information about Geographical Indication (GI) tags in India. Our team is passionate about promoting and preserving India's unique cultural and agricultural heritage.</p>
                                <p>We believe that GI tags are crucial for protecting and promoting India's diverse traditional products and practices, and we aim to increase awareness and understanding of their importance.</p>

                                <p>Our website features detailed information about the history, origin, and benefits behind the GI tag system in India. We also provide a directory of all the GI-tagged products and their respective regions, allowing visitors to explore and discover the amazing diversity of India's local products. Whether you're a consumer, tourist, producer, or policymaker, our website is the go-to resource for accurate and up-to-date information about GI tags in India.</p> 
                                <p> Thank you for visiting, and please don't hesitate to contact us with any questions or feedback.</p>
                            </div>
                        </div>
                        <!-- About Text End -->
                        <!-- About Image Start -->
                        <div class="col-lg-5 col-md-10">
                            <div class="about-image-wrap">
                                <img class="img-full" src="{% static 'images/product/large-size/13.jpg' %}" alt="About Us" />
                            </div>
                        </div>
                        <!-- About Image End -->
                    </div>
                </div>
            </div>
            <!-- about wrapper end -->


            




            <!-- team area wrapper start -->
            <div class="team-area pt-60 pt-sm-44">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="li-section-title capitalize mb-25">
                                <h2><span>our team</span></h2>
                            </div>
                        </div>
                    </div> <!-- section title end -->
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="team-member mb-60 mb-sm-30 mb-xs-30">
                                <div class="team-thumb ">
                                    <img src="{% static 'images/about-us/team/12.png' %}" class="img1" alt="Our Team Member">
                                </div>
                                <div class="team-content text-center">
                                    <h3>Santosh Kumar Baral</h3>
                                    <p>Software Developer</p>
                                    <a href="#">santoshbaral543@gmail.com</a>
                                    <div class="team-social">
                                        <a href="#"><i class="fa-brands fa-facebook-f fa-lg"></i></a>
                                
                                        <a href="#"><i class="fa-brands fa-linkedin fa-lg"></i></a>
                                        <a href="#"><i class="fa-brands fa-instagram fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end single team member -->
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="team-member mb-60 mb-sm-30 mb-xs-30">
                                <div class="team-thumb">
                                    <img src="{% static 'images/about-us/team/2.png' %}" alt="Our Team Member">
                                </div>
                                <div class="team-content text-center">
                                    <h3>Uzma Usmani</h3>
                                    <p>Web Designer</p>
                                    <a href="#">uzmausmani043@gmail.com</a>
                                    <div class="team-social">
                                        <a href="#"><i class="fa-brands fa-facebook-f fa-lg"></i></a>
                                        <a href="#"><i class="fa-brands fa-linkedin fa-lg"></i></a>
                                        <a href="#"><i class="fa-brands fa-instagram fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end single team member -->
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="team-member mb-30 mb-sm-60">
                                <div class="team-thumb">
                                    <img src="{% static 'images/team/3.png' %}" alt="Our Team Member">
                                </div>
                                <div class="team-content text-center">
                                    <h3>Avijit Dutta </h3>
                                    <p>Web Developer</p>
                                    <a href="#">avijitdutta8798@gmail.com</a>
                                    <div class="team-social">
                                        <a href="#"><i class="fa-brands fa-facebook-f fa-lg"></i></a>
                                    
                                        <a href="#"><i class="fa-brands fa-linkedin fa-lg"></i></a>
                                        <a href="#"><i class="fa-brands fa-instagram fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end single team member -->
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="team-member mb-30 mb-sm-60 mb-xs-60">
                                <div class="team-thumb">
                                    <img src="{% static 'images/about-us/team/4.png' %}" alt="Our Team Member">
                                </div>
                                <div class="team-content text-center">
                                    <h3>Sushant Sahoo</h3>
                                    <p>Web Developer</p>
                                    <a href="#">sushantsahoo888@gmail.com</a>
                                    <div class="team-social">
                                        <a href="#"><i class="fa-brands fa-facebook-f fa-lg"></i></a>
                                        <a href="#"><i class="fa-brands fa-linkedin fa-lg"></i></a>
                                        <a href="#"><i class="fa-brands fa-instagram fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end single team member -->
                    </div>
                </div>
            </div>
            <!-- team area wrapper end -->
            <!-- Begin Footer Area -->
            <div class="footer">
                <!-- Begin Footer Static Top Area -->
                <div class="footer-static-top">
                    <div class="container">
                        <!-- Begin Footer Shipping Area -->
                        <div class="footer-shipping pt-60 pb-55 pb-xs-25">
                            <div class="row">
                                <!-- Begin Li's Shipping Inner Box Area -->
                                <div class="col-lg-3 col-md-6 col-sm-6 pb-sm-55 pb-xs-55">
                                    <div class="li-shipping-inner-box">
                                        <div class="shipping-icon">
                                            <img src="{% static 'images/shipping-icon/1.png' %}" alt="Shipping Icon">
                                        </div>
                                        <div class="shipping-text">
                                            <h2>Free Delivery</h2>
                                            <p>And free returns. See checkout for delivery dates.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Li's Shipping Inner Box Area End Here -->
                                <!-- Begin Li's Shipping Inner Box Area -->
                                <div class="col-lg-3 col-md-6 col-sm-6 pb-sm-55 pb-xs-55">
                                    <div class="li-shipping-inner-box">
                                        <div class="shipping-icon">
                                            <img src="{% static 'images/shipping-icon/2.png' %}" alt="Shipping Icon">
                                        </div>
                                        <div class="shipping-text">
                                            <h2>Safe Payment</h2>
                                            <p>Pay with the world's most popular and secure payment methods.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Li's Shipping Inner Box Area End Here -->
                                <!-- Begin Li's Shipping Inner Box Area -->
                                <div class="col-lg-3 col-md-6 col-sm-6 pb-xs-30">
                                    <div class="li-shipping-inner-box">
                                        <div class="shipping-icon">
                                            <img src="{% static 'images/shipping-icon/3.png' %}" alt="Shipping Icon">
                                        </div>
                                        <div class="shipping-text">
                                            <h2>Shop with Confidence</h2>
                                            <p>Our Buyer Protection covers your purchasefrom click to delivery.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Li's Shipping Inner Box Area End Here -->
                                <!-- Begin Li's Shipping Inner Box Area -->
                                <div class="col-lg-3 col-md-6 col-sm-6 pb-xs-30">
                                    <div class="li-shipping-inner-box">
                                        <div class="shipping-icon">
                                            <img src="{% static 'images/shipping-icon/4.png' %}" alt="Shipping Icon">
                                        </div>
                                        <div class="shipping-text">
                                            <h2>24/7 Help Center</h2>
                                            <p>Have a question? Call a Specialist or chat online.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Li's Shipping Inner Box Area End Here -->
                            </div>
                        </div>
                        <!-- Footer Shipping Area End Here -->
                    </div>
                </div>
                <!-- Footer Static Top Area End Here -->
                
            {% include 'home_footer.html' %}


