{% load static %}

          {% include 'home_header.html' %}

                <div class="container my-3">
                  <div class="row">
                    <br>
                    <div class="col">
                      <marquee behavior="scroll" direction="right">
                        <span class="marquee-text" id="marquee">Experience India's GI, a heritage that's worth a try!</span>
                      </marquee>
                    </div>
                    <br>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div id="carouselControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="{% static 'images/corausel/madhubani.jpg' %}" class="d-block w-100" alt="Image 1">
                            <div class="carousel-caption">
                              
                              <h5> <big>Madhubani</big> painting is a traditional art form from the Mithila region of Bihar, India created by women from various communities which are a major export of Madhubani district.</h5>
          
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'images/corausel/cafe-coffee-coffeebean-coffee-bean-pure.jpg' %}" class="d-block w-100" alt="Image 2">
                            <div class="carousel-caption">
          
                              <h5> <big>Araku Valley Arabica Coffee</big> is a specialty coffee grown in the Araku Valley region of India. It is known for its unique flavor profile, which is influenced by the local soil and climate.</h5>
          
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'images/corausel/Konark_Orissa_India.jpg' %}" class="d-block w-100" alt="Image 3">
                            <div class="carousel-caption">
          
                              <h5><big>Konark Stone Craft</big> is a traditional stone carving craft from the Konark region of Odisha, India. It creates decorative items, statues, and architectural pieces with intricate designs and details through intricate stone carving.</h5>
          
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'images/corausel/litchi-fruits-red.jpg' %}" class="d-block w-100" alt="Image 4">
                            <div class="carousel-caption">
          
                              <h5><big>Shahi Litchi</big> of Vihar is a type of litchi fruit grown in the Muzaffarpur district of Bihar, India. It is known for its large size, sweet flavor, and delicate texture.</h5>
          
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'images/corausel/kutch embroidary.avif' %}" class="d-block w-100" alt="image 5">
                            <div class="carousel-caption">
          
                              <h5>The <big>Kutch Embroidery</big> is a handicraft and textile signature art tradition of the tribal community of Kutch District in Gujarat and Sindh. It is known for its bright colors, mirrors, beads, and intricate embroidery that embellishes the entire fabric.</h5>
          
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'images/corausel/Nizamabad_black_clay_pottery.png' %}" class="d-block w-100" alt="Image 6">
                            <div class="carousel-caption">
          
                              <h5>The <big>Black Clay Pottery</big> of Nizamabad in Azamgarh district of Uttar Pradesh, India is unique type of clay pottery known for its dark shiny body with engraved silver patterns.</h5>
          
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'images/corausel/mysore mallige.jpg' %}" class="d-block w-100" alt="Image 7">
                            <div class="carousel-caption">
          
                              <h5><big> Mysore Mallige</big> is a type of jasmine flower grown in the Mysore district of Karnataka, India. Mysore Mallige is a popular flower in South India and is highly valued for its fragrance and beauty.</h5>
          
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'images/corausel/Malda Mango.jpg' %}" class="d-block w-100" alt="Image 8">
                            <div class="carousel-caption">
          
                              <h5><big>Malda Mango</big> is a variety of mango fruit from West Bengal, India. It has a juicy pulp, sweet flavor, and unique aroma. Malda Mango is popular for its taste and often used for desserts and pickles.</h5>
          
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'images/corausel/saffron-2835249_1280.jpg' %}" class="d-block w-100" alt="Image 9">
                            <div class="carousel-caption">
          
                              <h5><big>Saffron</big> of Kashmir is a highly valued spice grown in the Kashmir valley of India. It is known for its unique flavor, aroma, and vibrant color, making it one of the best varieties in the world.</h5>
          
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'images/corausel/odisha rasogulaa.jpg' %}" class="d-block w-100" alt="Image 10">
                            <div class="carousel-caption">
          
                              <h5><big>Odisha Rasgulla</big> is a traditional Indian sweet. It originated in the state of Odisha and is known for its spongy texture. The dish is a popular dessert in India and is now enjoyed worldwide.</h5>
          
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'images/corausel/kanchipuram-sarees-500x500.webp' %}" class="d-block w-100" alt="Image 11">
                            <div class="carousel-caption">
          
                              <h5><big>Kanchipuram Saree</big> is a traditional Indian saree made in the Kanchipuram region of Tamil Nadu, India. Kanchipuram sarees are popular among brides and are a symbol of South Indian culture.</h5>
          
                            </div>
                          </div>
                        </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
                  </div>
                
                 
                  <div class="container mt-4">
                    <div class="row">
                      <div class="col-sm-3 fullcard">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title"> GI Tag? </h5>
                            <p class="card-text">Geographical Indication (GI) is an intellectual property right indicating a product's originating from a specific geographical region that has certain qualities, characteristics or reputation that are essentially attributable to its origin. GI tags protects traditional knowledge, cultural heritage, and economic interests of the community.</p>
                            <a href="login-register.html" class="btn btn-warning">Learn More...</a>
                          </div>
                        </div>
                      </div>
                      <p></p>
                      <div class="col-sm-3 fullcard">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title"> Origin & History </h5>
                            <p class="card-text">GI tags originated in Europe in the 20th century. In 2003, India established the GI Registry to protect local communities' cultural heritage, traditional knowledge, and economic interests. Over 436 Indian products have been granted GI tags since the establishment of the GI Registry.</p>
                            <a href="login-register.html" class="btn btn-warning">Learn More...</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3 fullcard">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title"> Significance </h5>
                            <p class="card-text">GI tags play a significant role in safeguarding the traditional knowledge, cultural heritage, and economic interests of communities that create distinctive products. They are also beneficial for the local economies as they aid in tourism, employment generation, and enhancing the reputation of the region.</p>
                            <a href="login-register.html" class="btn btn-warning">Learn More...</a>
                          </div>
                        </div>
                      </div>
                      <p></p>
                      <div class="col-sm-3 fullcard">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title"> Benefit </h5>
                            <p class="card-text">GI tags protect products against unauthorized use, misuse, and infringement of the product's origin and increase market value by creating a unique identity. GI tags can also promote sustainable production practices by encouraging local communities to preserve their traditional knowledge and natural resources.</p>
                            <a href="login-register.html" class="btn btn-warning">Learn More...</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="container mt-4">
                    <div class="banner">
                      <div class="container">
                        <h1>Welcome to our GI Tag of India website.</h1>
                        <p>Learn about the rich cultural heritage of India through the unique Geographical Indications (GI) products of different regions.</p>
                        <a href="login-register.html"><button class="btn btn-outline-warning" >Learn More</button></a>
                      </div>
                    </div>
                  </div>
                
                
                  

                  {% include 'home_footer.html' %}
